body {
    margin: 20px;
    /*
    Find a web safe font , and add it 
    to the card.
    */
    font-family: Trebuchet, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
        
   
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:

- change the border(s)
- add border radius
- shuffle the layout
- shadows       
- hover effects  
- animations     
*/


